/* Common */
:root {
  --font-family: 'Roboto', sans-serif;
  --second-family: 'Play', sans-serif;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  color: #011c44;
  background-color: #ffffff;
  font-style: normal;
}
ul {
  list-style: none;
}
a,
link {
  text-decoration: none;
}
/* Header */
.logo {
  font-weight: 700;
  font-size: 22px;
  line-height: 0.95455;
  text-transform: capitalize;
  color: #2b7fff;
  font-family: 'Play', sans-serif;
}
.header-list-item {
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 18px;
}
.header-list-item:hover {
  font-weight: 700;
  font-size: 18px;
  color: #2b7fff;
}
/* Hero */
.clinic {
  font-size: 18px;
}
.hero-title {
  font-family: 'Play', sans-serif;
  font-weight: 700;
  font-size: 140px;
  line-height: 0.81429;
  text-transform: capitalize;
  color: #2b7fff;
}
.button {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background: #2b7fff;
}
.consultation {
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  color: #4a4a4a;
}

/* Change section */
.change-title {
  font-weight: 700;
  font-size: 64px;
  font-family: 'Play', sans-serif;
}
.change-title-span {
  text-transform: capitalize;
  color: #2b7fff;
}
.change-text {
  font-size: 22px;
  line-height: 1.72727;
}
.change-span {
  font-weight: 600;
  text-transform: capitalize;
}

/* Why us */
.why-us-title {
  font-weight: 700;
  font-size: 64px;
  text-align: center;
  font-family: 'Play', sans-serif;
}
.why-us-title-span {
  color: #2b7fff;
}
.why-us-item {
  line-height: 1.33;
  text-align: center;
  color: #000;
}
.frame {
  border-radius: 32px;
  width: 316px;
  height: 181px;
  box-shadow: 0 4px 4px 0 rgba(168, 198, 245, 0.38);
  background: #fff;
}
/* Procedures section */
.procedures-title {
  font-weight: 700;
  font-size: 64px;
  text-align: center;
  color: #011c44;
  font-family: 'Play', sans-serif;
}
.procedures-title-span {
  color: #2b7fff;
}
/* Find section */
.find-title {
  font-weight: 700;
  font-size: 64px;
  text-align: center;
  color: #011c44;
  font-family: 'Play', sans-serif;
}
.find-title-span {
  color: #2b7fff;
}
.find-user-box {
  font-weight: 600;
  font-size: 22px;
  text-align: center;
  color: #fff;
}
.find-user-box-span {
  color: #2b7fff;
}
.user-box-item {
  font-size: 13px;
  color: #fff;
}
.user-button {
  font-weight: 600;
  font-size: 18px;
  color: #fff;
  background: #2b7fff;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
}
.user-agree {
  font-size: 12px;
  line-height: 1.5;
  text-align: center;
  color: #747272;
}
.user-agree-span {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}
/* Footer */
.footer {
}
.footer-logo {
  font-family: 'Play', sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 0.875;
  text-transform: capitalize;
  color: #2b7fff;
}
.footer-nav-item {
  font-size: 16px;
  color: #fff;
}
.footer {
  background-color: #011c44;
  background-image: url('../images/ftrbackground.jpg'); /* Шлях до вашого фото */
  background-size: contain; /* Зробити фото таким, щоб покрило весь елемент */
  background-position: cover; /* Розташування зображення по центру */
  background-repeat: no-repeat; /* Запобігти повторенню зображення */
}
